<div id="cat-loginBoxWrap">
                <div class="cat-container">
                    <div id="cat-loginBox">
                        <div class="cat-logo">
                             <img src="logo.png" alt="logo">
                        </div>
                        <div id="loginForm">
                            <form name="cat-loginForm" method="post" action="login.php">
                                <div class="loginControls">
                                    <i class="fas fa-user"></i>
                                    <input name="user" placeholder="Login" type="text">
                                </div>
                                <div class="loginControls">
                                    <i class="fas fa-key"></i>
                                    <input name="password" placeholder="Hasło" type="text">
                                </div>
                                <button class="btn" type="submit" name="log"> zaloguj </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>